@tailwind base;
@tailwind components;
@tailwind utilities;

.foodBack {
  background: url('../assets/static/food.png') repeat;
}

.harnessShadow {
  text-shadow: 3px 3px 3px #262626;
}

@keyframes colorChange {
  0% {
    color: white;
  }
  100%{
    color: white;
    text-shadow: 2px 2px 2px #262626;
  }
}

.textChange{
  animation: .2s 2.5s linear colorChange forwards;
  color:white;
}

@keyframes opacityChange {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .8;
  }
}

.opacityChange {
  animation: .5s 2.5s linear opacityChange forwards;
}

@keyframes opacityChange1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.signUpShow {
  animation: .5s 1.5s linear opacityChange1 forwards;
}

body {
  overflow-x: hidden;
}